<div class="map-container" ng-controller="MapCtrl">
  <div class="map-wrapper" id="map-wrapper">
    <div id="map" style="width:500px;height:400px;"></div>
  </div>
  <div class="review-container">
    <div class="review-map-header">
      <div class="title">지도 속 원룸리뷰</div>
    </div>
    <div class="review-map-body">
      <div class="no-data" ng-if="reviews.length == 0">
        <div>선택 정보가 없습니다.</div>
        <div>원하시는 지역의</div>
        <div>핀을 클릭해주세요</div>
      </div>
      <div class="review-wrapper" ng-if="reviews.length != 0" ng-repeat="review in reviews" ng-click="getCardDetail(review)">
        <div class="card-wrapper">
          <div ng-include src="'pinterest_card.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <%= render template: "pinterest_ui/_pinterest_card" %>
  <%= render template: "review_houses/_show_modal" %>
</div>
