<div class="my-review-header">
  <div class="cover-image-wrapper">
    <div class="img"></div>
  </div>
  <div class="user-info-wrapper">
    <div class="nickname">{{my_info.nickname}}</div>
    <div class="subscribe-btn">구독하기</div>
  </div>
  <div class="user-intro-wrapper">
    <div class="social-container">
      <div class="following">
        <div>0</div>
        <div>Following</div>
      </div>
      <div class="follower">
        <div>0</div>
        <div>Follower</div>
      </div>
      <div class="post">
        <div>{{my_info.cnt_post}}</div>
        <div>Post</div>
      </div>
    </div>
    <div class="intro-container">
      <div class="intro">
        아 이제 마지막이다
      </div>
    </div>
  </div>
</div>

