<!DOCTYPE html>
<html>
<head>
<title>원룸리뷰 플랫폼, 내집탐방</title>
<link rel="stylesheet" media="all" href="http://findahouse.co.kr/assets/application.self-cf1a3fcc01ed73db0b72ad41612579f711b1431830dd480f37231e9a06dbfe0f.css?body=1" data-turbolinks-track="true" />
<script src="http://findahouse.co.kr/assets/jquery.self-bd7ddd393353a8d2480a622e80342adf488fb6006d667e8b42e4c0073393abee.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/transition.self-6ad2488465135ab731a045a8ebbe3ea2fc501aed286042496eda1664fdd07ba9.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/alert.self-742145c5bb847aafdadc6e339be795628f8bc25f177e851f03a8c42278eb0312.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/button.self-126ac9bf0e7f2d8568f8da3a00fd5f0fac6eae0946331003370161fbf8d7975e.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/carousel.self-e47323f363ceb3dc0bdbce05e36e709ed428e339833a41140a85cb0af24b8127.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/collapse.self-2eb697f62b587bb786ff940d82dd4be88cdeeaf13ca128e3da3850c5fcaec301.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/dropdown.self-561cca1cbaf67474e01e9536f106bad541594860a6df997004591c1c1957a147.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/modal.self-3e78617ade5663314b7ee0ea10375a5b34d59ffbade44939e3f2a4e4ef2019b3.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/tab.self-5bf7078b682f8b131332eefa46b45fa5eff2eca745fc0d03e2991450888f7c28.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/affix.self-6d6f1a7fc5c8aabf3547fa1b794fab6268f54bc55ad815e55873c71f52513517.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/scrollspy.self-969f3c5f48cdf1e439c7fa1154c13b948715f5c689f87837c0b64521d3b46ef6.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/tooltip.self-05afb177e08f98997ccfc84fa08a215e4b27d48d5fe4d049080675e9dffd8199.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap/popover.self-0aa93860b59fe7393f1dd490f54b3cb994f9d6155adffce034d4e14ae361b041.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/bootstrap-sprockets.self-fbfa5ad7d9aa0afe439ec4ff3883acc4cb92b62cb67c40d674320c9aa1d4642d.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/jquery_ujs.self-784a997f6726036b1993eb2217c9cb558e1cbb801c6da88105588c56f13b466a.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/angular.self-bfd6c8dff7a273aef9f5716cbbd0f6cb8837cf59dd5c54eb4d9adc360007e639.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/angular-ui-bootstrap.self-f0590a4e71291d7ac90b4413bfe418dd00aa804471a7aa36c4489e52a4322659.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/angular-ui-bootstrap-tpls.self-41d7594d47af87efcb61693f93869dd8fcac0fa88b42966cb37b3b3cacd2bf18.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/turbolinks.self-c5acd7a204f5f25ce7a1d8a0e4d92e28d34c9e2df2c7371cd7af88e147e4ad82.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/controllers/app.self-5b1a9a1e826f7054d09e527cf21b49b19401a51147dd27ce31abdc977d30b4fa.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/layouts.self-92154f3e69657ad4735017e1ed77620e0cdc368ac2c11f72f31496e07e4a6b58.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/lib/angular-masonry.self-056da40033e55b18700ed16205b0892f6c41bab25d95e9d3572736d7ae5964ab.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/lib/angular-sanitize-min.self-6f2fb8f1028a6cd1d5b239d4a624b9f6ca6e7b97f6178685a03b2c232e5e89d8.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/lib/imagesloaded.pkgd.self-802be8db2d571cbbd4c811a07378feb072543020471eeaeee4eb50811ca88992.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/lib/masonry.pkgd.min.self-777bbf82c04e4c7d7ab9c5f50affd7eade5aa10470e686ba78e67ee82ee0fb4f.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/modals.self-b9ae1b8d107345944adbf23bb746b82b521414adf0e25370c0a3052e5e0463cc.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/notice_and_qna.self-d19122b3864f9ac5b0996e6fce8a7297e0fd8853eb7d5581aead039f3bd9dc70.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/review_houses.self-09f2cc53edcd8cddb412885f34259da38eb065d0af4351a0c9651bcebb865b45.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/user_info.self-981218c21d0dd5106d67bdf4e7bef46ce34931432160fb06a56646fbb4d897ee.js?body=1" data-turbolinks-track="true"></script>
<script src="http://findahouse.co.kr/assets/application.self-10ad0916cf31256fe71785e8dc9cc297a96b1cdf7b74aeb61711199b9a3d003f.js?body=1" data-turbolinks-track="true"></script>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="GsK4GgXtTNBO880hFdZ1Vi6kghP9pqB2v3Li1OkuSbP5iArcxzHu85WT/GBDJ7SXsil15+hfEC1iTV+zmheZCg==" />
<script src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>
<script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey=69efb28067502ad96827758bec645be3&libraries=services"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src="http://findahouse.co.kr/g;m.parentNode.insertBefore(a,m)"
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-92194577-1', 'auto');
ga('send', 'pageview');

</script>

</head>
<body ng-app="myApp" ng-controller="MainCtrl">
<div class="main-container">
<div class="nav-bar" ng-controller="NavCtrl">
<div class="nav-logo">
<img class="logo" src="http://findahouse.co.kr/assets/navbar/logo-536be5d18a62478d85852c8626561b663746d04f5ec6663261f7b164dd6f3872.png" alt="Logo" />
</div>
<div class="nav-search">
<div class="search-wrapper">
<div class="search-img-wrapper">
<img src="http://findahouse.co.kr/assets/navbar/search-291cf71495f971cde1ea4211ee21d5478835ebd0068d65dc39ea780899cce387.png" alt="Search" />
</div>
<div class="search-input-wrapper">
<input type="text" class="search" placeholder="search" ng-keydown="$event.which === 13 && search()" ng-model="search_keywords"/>
</div>
<div class="search-type-wrapper">
<div class="house selected" ng-click="setSearchType($event, 'house')">원룸</div>
<div class="life" ng-click="setSearchType($event, 'oneroom')">생활</div>
</div>
</div>
</div>
<div class="nav-buttons">
<img class="write" src="http://findahouse.co.kr/assets/navbar/button-write-915d22ee70b582add94fc87164dbcfec52e5fc6f13655b9dcbd829df819cbef4.png" alt="Button write" />
<img class="map" src="http://findahouse.co.kr/assets/navbar/button-map-1a13b22504caa1875d50c25093869a8e294642a8fc075ffa845fc5d0b6f14a73.png" alt="Button map" />
<img class="menu" src="http://findahouse.co.kr/assets/navbar/button-menu-d6b4c9695064cacf80adfd848e48471377679bc2f693cc8fbc7fe94b7a6734b5.png" alt="Button menu" />
</div>
</div>

<div class="content-container">
<div class="sub-navbar">
<div class="hot selected" ng-click="getHotReviews()">Hot</div>
<div class="new" ng-click="getNewReviews()">New</div>
<div class="best" ng-click="getBestReviews()">Best</div>
<div class="all selected">모두보기</div>
<div class="house">원룸리뷰</div>
<div class="life">생활피드</div>
</div>

<div class="index-container">
<div class="content-wrapper">
<div class="title">살아본 놈이 제일 잘 안다</div>
<div masonry ng-controller="PinCtrl">
<div class="masonry-brick" ng-repeat="review in reviews" ng-click="getCardDetail(review)">
<div class="card-wrapper">
<div ng-include src="'pinterest_card.html'" ng-if="review.is_house_review"></div>
<div ng-include src="'pinterest_card_life.html'" ng-if="!review.is_house_review"></div>
</div>
</div>
</div>

</div>
</div>

<div class="show-container">
<script type="text/ng-template" id="pinterest_card.html">
<div class="image-wrapper" ng-if="review.thumb_nail">
<img ng-src="{{review.thumb_nail}}"/>
</div>
<div class="details-wrapper">
<div class="type-wrapper">
<span>원룸</span>
</div>
<div class="title-wrapper">
<div>{{review.title}}</div>
</div>
<div class="address-wrapper">
<div>{{review.address}}</div>
</div>
<div class="writtenby-wrapper">
<div>by. {{review.written_by}}</div>
</div>
<div class="upvote-and-scrap-wrapper">
<div class="upvote-wrapper">
<div>좋아요 {{review.cnt_upvotes}}개</div>
</div>
<div>·</div>
<div class="scrap-wrapper">
<div>스크랩 {{review.cnt_scraps}}개</div>
</div>
</div>
</div>
<div class="satisfaction-wrapper">
<div ng-repeat="i in [1, 2, 3, 4, 5]" class="star-container">
<div ng-if="$index < review.avr_satis">
<img class="star" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div ng-if="$index >= review.avr_satis">
<img class="star" src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
</div>
</div>
</div>
</script>

<script type="text/ng-template" id="pinterest_card_life.html">
<div class="image-wrapper" ng-if="review.thumb_nail">
<img ng-src="{{review.thumb_nail}}"/>
</div>
<div class="details-wrapper life">
<div class="type-wrapper">
<span>생활</span>
</div>
<div class="title-wrapper">
<div>{{review.title}}</div>
</div>
<div class="hashtag-wrapper">
<div>{{review.hash_tags}}</div>
</div>
<div class="writtenby-wrapper">
<div>by. {{review.written_by}}</div>
</div>
<div class="upvote-and-scrap-wrapper">
<div class="upvote-wrapper">
<div>좋아요 {{review.cnt_upvotes}}개</div>
</div>
<div>·</div>
<div class="scrap-wrapper">
<div>스크랩 {{review.cnt_scraps}}개</div>
</div>
</div>
</div>
</script>

<script type="text/ng-template" id="showModal.html">
<div class="content-wrapper show-modal">
<div class="image-container">
<!--<div class="to_prev" ng-click="to_prev_image()">이전</div>-->
<img ng-src="{{current_img}}"/>
<!--<div class="to_next" ng-click="to_next_image()">다음</div>-->
</div>

<div class="edit-container" ng-if="auth">
<div class="btn-edit" ng-click="edit_review()">
<img src="http://findahouse.co.kr/assets/show/edit-27410c919ea067a32c7704c60e7d174ec89a08680541ada7082205b38f5d29ee.png" alt="Edit" />
</div>
<div class="btn-delete" ng-click="delete_review()">
<img src="http://findahouse.co.kr/assets/show/delete-19abd8a551d73ed146b715af359a13afe332f39aceb204bb544942b1ddada018.png" alt="Delete" />
</div>
</div>

<div class="details-container">
<div class="title-container">
<div class="title">{{title}}</div>
</div>

<div class="writtenby-container">
<div>by.</div>
<div class="written-by" ng-click="getUserReviews()">{{written_by}}</div>
</div>

<div class="addr-container">
<div class="addr">{{address}}</div>
</div>

<div class="duration-container">
<div>거주기간 - </div>
<div class="start">{{duration.start_time}}</div>
<div>~</div>
<div class="end">{{duration.end_time}}</div>
</div>
</div>

<div class="satisfaction-container">
<div class="avr-container">
<div class="title">총 평점</div>
<div class="stars">
<div class="score first">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score second">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score third">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score fourth">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score fifth">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>

</div>
</div>
<div class="detail-container">
<div class="price">
<input type="hidden" name="review_house[price_satisfaction]" id="price"/>
<div class="title">가격 만족도</div>
<div class="stars">
<div class="score first">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score second">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score third">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score fourth">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score fifth">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>

</div>
</div>
<div class="residence">
<input type="hidden" name="review_house[residence_satisfaction]" id="residence"/>
<div class="title">주거지 만족도</div>
<div class="stars">
<div class="score first">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score second">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score third">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score fourth">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score fifth">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>

</div>
</div>
<div class="environment">
<input type="hidden" name="review_house[env_satisfaction]" id="environment"/>
<div class="title">주거환경 만족도</div>
<div class="stars">
<div class="score first">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score second">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score third">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score fourth">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>
<div class="score fifth">
<img src="http://findahouse.co.kr/assets/write/star-grey-d117188ae9f8c16682a816460e1d38b8df19f2feb76dd10c315ca1f1ce34db07.png" alt="Star grey" />
<img class="none" src="http://findahouse.co.kr/assets/write/star-purple-b2f56b0bf0958e3707339c4c8fbe85ecae9a8cd418c4136d045c75c22c5cf546.png" alt="Star purple" />
</div>

</div>
</div>

</div>
</div>

<div class="review-container">
<div class="review-wrapper review-price">
<div class="review-header">
<div class="title">가격 리뷰</div>
<div class="info">
보증금/월세, 관리비, 가스비, 전기세, 수도세 등
</div>
</div>
<div class="content">{{reviews.price}}</div>
</div>
<div class="review-wrapper review-residence">
<div class="review-header">
<div class="title">주거 리뷰</div>
<div class="info">
악취, 방금, 바퀴벌레, 수압, 외풍, 난방 속도, 누수 등
</div>
</div>
<div class="content">{{reviews.residence}}</div>
</div>
<div class="review-wrapper review-env">
<div class="review-header">
<div class="title">주거환경 리뷰</div>
<div class="info">
채광도, 주변소음, 편의시설, 집주인 친절도 등
</div>
</div>
<div class="content">{{reviews.env}}</div>
</div>
</div>

<div class="p-a-c-container">
<div class="cons">
<div class="title">단점</div>
<div class="cons-content-wrapper" ng-repeat="con in pros_and_cons.cons track by $index">
<img src="http://findahouse.co.kr/assets/show/check-red-aa1e627e2e1e6759aebc3b1f633548237cb57353db86b27bd75c4e82a095791c.png" alt="Check red" />
<div class="content">{{con}}</div>
</div>
</div>
<div class="pros">
<div class="title">장점</div>
<div class="pros-content-wrapper" ng-repeat="pro in pros_and_cons.pros track by $index">
<img src="http://findahouse.co.kr/assets/show/check-yellow-3aebf7170e2adddfc50e7e718b527eb69b0c90470763ccf99d62b525c74016c2.png" alt="Check yellow" />
<div class="content">{{pro}}</div>
</div>
</div>
</div>

<div class="upvote-and-scrap-container">
<div class="upvote">
<div class="count">{{upvote_and_scrap.cnt_upvotes}}</div>
<div class="button" ng-click="upvote()">
<img src="http://findahouse.co.kr/assets/show/button-good-8c3fb690d6c12eb241d9927480783ded3d59e1881811285fa1cf4baa3cf82119.png" alt="Button good" />
</div>
</div>
<div class="scrap">
<div class="count">{{upvote_and_scrap.cnt_scraps}}</div>
<div class="button" ng-click="scrap()">
<img src="http://findahouse.co.kr/assets/show/button-scrap-99da3fde1644b8f057f5b4d6e0d32d83552972bf649ec799516974b919130850.png" alt="Button scrap" />
</div>
</div>
</div>

<div class="comment-container">
<div class="write-container">
<div class="title">댓글쓰기</div>
<textarea ng-model="comment_writting"></textarea>
<div class="button" ng-click="submit_comment()">등록</div>
</div>
<div class="list-container">
<div class="sort-by">
<div class="hot selected" ng-click="sort_comment($event, 'hot')">HOT</div>
<div class="new" ng-click="sort_comment($event, 'new')">NEW</div>
</div>
<div class="comment-wrapper" ng-repeat="comment in comments track by $index">
<div class="comment-inner-wrapper">
<div class="comment-left">
<div class="comment-header">
<div class="nickname" ng-click="to_user_page(comment.user_id)">{{comment.written_by}}</div>
<div class="created-at">{{comment.created_at}}</div>
<div class="btn-delete" ng-if="comment.auth" ng-click="delete_comment(comment)">삭제</div>
</div>
<div class="comment-body">
<div class="content">{{comment.content}}</div>
</div>
</div>
<div class="comment-right">
<div class="upvote" ng-click="upvote_comment(comment)">
<img src="http://findahouse.co.kr/assets/show/button-good-8c3fb690d6c12eb241d9927480783ded3d59e1881811285fa1cf4baa3cf82119.png" alt="Button good" />
</div>
<div class="upvote-count">{{comment.upvote_count}}</div>
</div>
</div>
<div class="subcomment-wrapper">
<div class="subcomment-header">
<div class="btn-show" ng-click="showSubComments($event, comment)">
<div>답글 {{comment.subcomment_cnt}}개</div>
<div class="arrow"></div>
</div>
<div class="devider">|</div>
<div class="btn-write" ng-click="writeSubComment(comment)">답글쓰기</div>
</div>
<div class="subcomment-body">
<div class="write-subcomment" ng-if="comment.write_sub">
<textarea ng-model="comment.subcomment_writting"></textarea>
<div class="submit-subcomment" ng-click="submit_subcomment(comment)">등록</div>
</div>
<div class="show-subcomment" ng-if="comment.show_sub">
<div class="subcomments" ng-repeat="subcomment in comment.subcomments">
<div class="sub-header">
<div class="nickname" ng-click="to_user_page(comment.user_id)">{{subcomment.written_by}}</div>
<div class="created-at">{{subcomment.created_at}}</div>
<div class="btn-delete" ng-if="subcomment.auth" ng-click="delete_subcomment(subcomment)">삭제</div>
</div>
<div class="sub-body">
<div class="content">{{subcomment.content}}</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</script>

<script type="text/ng-template" id="showLifeModal.html">
<div class="content-wrapper show-modal-life">
<div class="content-header">
<div class="edit-container" ng-if="auth">
<div class="btn-edit" ng-click="edit_review()">
<img src="http://findahouse.co.kr/assets/show/edit-27410c919ea067a32c7704c60e7d174ec89a08680541ada7082205b38f5d29ee.png" alt="Edit" />
</div>
<div class="btn-delete" ng-click="delete_review()">
<img src="http://findahouse.co.kr/assets/show/delete-19abd8a551d73ed146b715af359a13afe332f39aceb204bb544942b1ddada018.png" alt="Delete" />
</div>
</div>

<div class="title-container">
<div class="title">{{title}}</div>
</div>

<div class="writtenby-container">
<div>by.</div>
<div class="written-by" ng-click="getUserReviews()">{{written_by}}</div>
</div>

<div class="hashtag-container">
<div class="hash-tags">{{hash_tags}}</div>
</div>
</div>

<div class="content-body">
<div class="image-container" ng-if="image_url != null">
<img ng-src="{{image_url}}"/>
</div>

<div class="content-container">
<div class="content" ng-bind-html="content"></div>
</div>
</div>

<div class="upvote-and-scrap-container">
<div class="upvote">
<div class="count">{{upvote_and_scrap.cnt_upvotes}}</div>
<div class="button" ng-click="upvote()">
<img src="http://findahouse.co.kr/assets/show/button-good-8c3fb690d6c12eb241d9927480783ded3d59e1881811285fa1cf4baa3cf82119.png" alt="Button good" />
</div>
</div>
<div class="scrap">
<div class="count">{{upvote_and_scrap.cnt_scraps}}</div>
<div class="button" ng-click="scrap()">
<img src="http://findahouse.co.kr/assets/show/button-scrap-99da3fde1644b8f057f5b4d6e0d32d83552972bf649ec799516974b919130850.png" alt="Button scrap" />
</div>
</div>
</div>

<div class="comment-container">
<div class="write-container">
<div class="title">댓글쓰기</div>
<textarea ng-model="comment_writting"></textarea>
<div class="button" ng-click="submit_comment()">등록</div>
</div>
<div class="list-container">
<div class="sort-by">
<div class="hot selected" ng-click="sort_comment($event, 'hot')">HOT</div>
<div class="new" ng-click="sort_comment($event, 'new')">NEW</div>
</div>
<div class="comment-wrapper" ng-repeat="comment in comments track by $index">
<div class="comment-inner-wrapper">
<div class="comment-left">
<div class="comment-header">
<div class="nickname" ng-click="to_user_page(comment.user_id)">{{comment.written_by}}</div>
<div class="created-at">{{comment.created_at}}</div>
<div class="btn-delete" ng-if="comment.auth" ng-click="delete_comment(comment)">삭제</div>
</div>
<div class="comment-body">
<div class="content">{{comment.content}}</div>
</div>
</div>
<div class="comment-right">
<div class="upvote" ng-click="upvote_comment(comment)">
<img src="http://findahouse.co.kr/assets/show/button-good-8c3fb690d6c12eb241d9927480783ded3d59e1881811285fa1cf4baa3cf82119.png" alt="Button good" />
</div>
<div class="upvote-count">{{comment.upvote_count}}</div>
</div>
</div>
<div class="subcomment-wrapper">
<div class="subcomment-header">
<div class="btn-show" ng-click="showSubComments($event, comment)">
<div>답글 {{comment.subcomment_cnt}}개</div>
<div class="arrow"></div>
</div>
<div class="devider">|</div>
<div class="btn-write" ng-click="writeSubComment(comment)">답글쓰기</div>
</div>
<div class="subcomment-body">
<div class="write-subcomment" ng-if="comment.write_sub">
<textarea ng-model="comment.subcomment_writting"></textarea>
<div class="submit-subcomment" ng-click="submit_subcomment(comment)">등록</div>
</div>
<div class="show-subcomment" ng-if="comment.show_sub">
<div class="subcomments" ng-repeat="subcomment in comment.subcomments">
<div class="sub-header">
<div class="nickname" ng-click="to_user_page(comment.user_id)">{{subcomment.written_by}}</div>
<div class="created-at">{{subcomment.created_at}}</div>
<div class="btn-delete" ng-if="subcomment.auth" ng-click="delete_subcomment(subcomment)">삭제</div>
</div>
<div class="sub-body">
<div class="content">{{subcomment.content}}</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</script>

</div>

</div>
</div>
<div class="side-bar-background"></div>

<div class="side-bar">
<div class="header">
<div class="cancel-wrapper">
<img class="cancel" src="http://findahouse.co.kr/assets/buttons/close-df533bb033880bbcf703ec718d82593a1feea69d399c1dce60500c6e0bfe5097.png" alt="Close" />
</div>
</div>
<div class="body">
<div class="sign-in side-btn border-top">로그인/가입</div>
<div class="my-map side-btn">나의 관심지도</div>
<div class="scrap side-btn border-bottom margin-bottom">스크랩</div>
<div class="followings side-btn border-top border-bottom margin-bottom">내가 구독한 유저</div>
<div class="followers side-btn border-top border-bottom margin-bottom">나를 구독한 유저</div>
<div class="cs side-btn border-top border-bottom">
<div>고객센터</div>
<div class="arrow"></div>
</div>
<div class="cs-detail border-bottom">
<div class="side-btn ds noti">공지사항</div>
<div class="side-btn ds qna">1:1 문의</div>
<div class="side-btn ds terms">사이트 이용규칙</div>
<div class="side-btn ds policy">개인정보 취급방침</div>
</div>
</div>
</div>

<div class="modal fade" id="modal-sign-in" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-body">
<div id="sign-in">
<div class="modal-title">
<div>로그인</div>
<div class="close" data-dismiss="modal">
<img class="cancel" src="http://findahouse.co.kr/assets/buttons/close-df533bb033880bbcf703ec718d82593a1feea69d399c1dce60500c6e0bfe5097.png" alt="Close" />
</div>
</div>
<div class="content-wrapper sign-in-main">
<div class="email-container">
<div>이메일</div>
<input type="email" placeholder="이메일" class="user-id"/>
</div>
<div class="password-container">
<div>비밀번호</div>
<input type="password" placeholder="비밀번호" class="user-pw"/>
</div>
<div class="remember-container">
<input type="checkbox" class="remember-me">
<div>로그인 상태 유지</div>
</div>
<div class="sign-in-btn-container">
<div class="sign-in-btn my-btn">로그인</div>
<div class="sign-in-btn my-btn fb">페이스북으로 로그인</div>
</div>
<div class="sign-up-btn-container">
<div class="sign-up-info">아직 회원이 아니신가요?</div>
<div class="sign-up-btn my-btn">이메일로 가입하기</div>
</div>
<div class="forgot-container">
<div>비밀번호를 모르시겠나요?</div>
<div class="find-pw">비밀번호 찾기</div>
</div>
</div>
</div>
<div id="sign-up">
<div class="modal-title">
<div>회원가입</div>
<div class="close" data-dismiss="modal">
<img class="cancel" src="http://findahouse.co.kr/assets/buttons/close-df533bb033880bbcf703ec718d82593a1feea69d399c1dce60500c6e0bfe5097.png" alt="Close" />
</div>
</div>
<div class="content-wrapper sign-up-main">
<div class="email-container">
<div>이메일</div>
<input type="email" placeholder="이메일" class="email"/>
<span class="email-conf"></span>
</div>
<div class="password-container">
<div>비밀번호</div>
<input type="password" placeholder="비밀번호" class="password"/>
<span class="pw-cond"></span>
<input type="password" placeholder="비밀번호 확인" class="password-conf"/>
<span class="pw-conf"></span>
</div>
<div class="btn-next">
<div>다음</div>
</div>
</div>
<div class="content-wrapper sign-up-sub">
<div class="nickname-container">
<div>닉네임</div>
<input type="text" placeholder="닉네임" class="nickname"/>
<span class="nick-conf"></span>
</div>
<div class="birth-container">
<div>태어난 년도</div>
<select class="birth"></select>
<div class="arrow"></div>
</div>
<div class="occupation-container">
<div>직업</div>
<select class="occupation">
<option value="1">대학생</option>
<option value="2">대학원생</option>
<option value="3">직장인</option>
<option value="4">무직</option>
<option value="5">기타</option>
</select>
<div class="arrow"></div>
</div>
<div class="sex-container">
<div>성별</div>
<div class="radio-container">
<input type="radio" name="sex" value="-1"/>남
<input type="radio" name="sex" value="1"/>여
</div>
</div>
<div class="btn-confirm">
<div>회원가입</div>
</div>
</div>
<div class="content-wrapper sign-up-fin">
<div class="info-container">
<div class="info-text">
<div></div>
<div></div>
</div>
</div>
<div class="btn-okay">
<div>확인</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal fade" id="modal-forgot-pw" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-title">
<div>비밀번호 찾기</div>
<div class="close" data-dismiss="modal">
<img class="cancel" src="http://findahouse.co.kr/assets/buttons/close-df533bb033880bbcf703ec718d82593a1feea69d399c1dce60500c6e0bfe5097.png" alt="Close" />
</div>
</div>
<div class="modal-body send">
<div>이메일</div>
<input type="text" placeholder="이메일"/>
<span class="email-cond"></span>
<div class="send-email">임시 비밀번호 받기</div>
</div>
<div class="modal-body complete">
<div class="info-text"></div>
<div class="btn-okay">확인</div>
</div>
</div>
</div>
</div>

</body>
</html>