<div class="price">
  <div class="left">
    <div>가격리뷰</div>
    <div>최소 100자</div>
    <span class="warning"></span>
  </div>
  <div class="right">
    <textarea name="review_house[price_review]" placeholder="보증금/월세, 관리비, 가스비, 전기세, 수도세 등"><%= @review.price_review %></textarea>
  </div>
</div>

<div class="residence">
  <div class="left">
    <div>주거지리뷰</div>
    <div>최소 100자</div>
    <span class="warning"></span>
  </div>
  <div class="right">
    <textarea name="review_house[residence_review]" placeholder="악취, 방음, 바퀴벌레, 수압, 외풍, 난방속도, 누수 등"><%= @review.residence_review %></textarea>
  </div>
</div>

<div class="environment">
  <div class="left">
    <div>주거환경리뷰</div>
    <div>최소 100자</div>
    <span class="warning"></span>
  </div>
  <div class="right">
    <textarea name="review_house[env_review]" placeholder="채광도, 주변소음, 편의시설, 집주인 친절도 등"><%= @review.env_review %></textarea>
  </div>
</div>
