<script type="text/ng-template" id="pinterest_card_life.html">
  <div class="image-wrapper" ng-if="review.thumb_nail">
    <img ng-src="{{review.thumb_nail}}"/>
  </div>
  <div class="details-wrapper life">
    <div class="type-wrapper">
      <span>생활</span>
    </div>
    <div class="title-wrapper">
      <div>{{review.title}}</div>
    </div>
    <div class="hashtag-wrapper">
      <div>{{review.hash_tags}}</div>
    </div>
    <div class="writtenby-wrapper">
      <div>by. {{review.written_by}}</div>
    </div>
    <div class="upvote-and-scrap-wrapper">
      <div class="upvote-wrapper">
        <div>좋아요 {{review.cnt_upvotes}}개</div>
      </div>
      <div>·</div>
      <div class="scrap-wrapper">
        <div>스크랩 {{review.cnt_scraps}}개</div>
      </div>
    </div>
  </div>
</script>
