<script type="text/ng-template" id="pinterest_card.html">
  <div class="image-wrapper" ng-if="review.thumb_nail">
    <img ng-src="{{review.thumb_nail}}"/>
  </div>
  <div class="details-wrapper">
    <div class="type-wrapper">
      <span>원룸</span>
    </div>
    <div class="title-wrapper">
      <div>{{review.title}}</div>
    </div>
    <div class="address-wrapper">
      <div>{{review.address}}</div>
    </div>
    <div class="writtenby-wrapper">
      <div>by. {{review.written_by}}</div>
    </div>
    <div class="upvote-and-scrap-wrapper">
      <div class="upvote-wrapper">
        <div>좋아요 {{review.cnt_upvotes}}개</div>
      </div>
      <div>·</div>
      <div class="scrap-wrapper">
        <div>스크랩 {{review.cnt_scraps}}개</div>
      </div>
    </div>
  </div>
  <div class="satisfaction-wrapper">
    <div ng-repeat="i in [1, 2, 3, 4, 5]" class="star-container">
      <div ng-if="$index < review.avr_satis">
        <%= image_tag 'write/star-purple.png', class: "star" %>
      </div>
      <div ng-if="$index >= review.avr_satis">
        <%= image_tag 'write/star-grey.png', class: "star" %>
      </div>
  </div>
  </div>
</script>
