<div class="index-container" ng-controller="IndexCtrl">
  <div class="content-wrapper">
    <div class="title">살아본 놈이 제일 잘 안다</div>
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 275 }'>
      <% @reviews.each do |review| %>
        <% if review.is_house_review? %>
          <div class="grid-item" ng-click="getCardDetail_house(<%= review.id %>)">
        <% else %>
          <div class="grid-item" ng-click="getCardDetail_life(<%= review.id %>)">
        <% end %>
          <div class="card-wrapper">
            <%= render template: "pinterest_ui/_pinterest_card", :locals => {:review => review} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="show-container">
  <%= render template: "review_houses/_show_modal" %>
</div>
