<div masonry ng-controller="PinCtrl">
  <div class="masonry-brick" ng-repeat="review in reviews" ng-click="getCardDetail(review)">
    <div class="card-wrapper">
      <div ng-include src="'pinterest_card.html'" ng-if="review.is_house_review"></div>
      <div ng-include src="'pinterest_card_life.html'" ng-if="!review.is_house_review"></div>
    </div>
  </div>
</div>
