<div>거주기간: </div>
<div class="duration-start">
  <input type="hidden" name="review_house[start_time]" id="start"/>
  <div class="dur-wrapper">
    <select class="years"></select>
    <div class="arrow"></div>
  </div>
  <div class="dur-wrapper">
    <select class="months"></select>
    <div class="arrow"></div>
  </div>
</div>
<div class="floating">~</div>
<div class="duration-end">
  <input type="hidden" name="review_house[end_time]" id="end"/>
  <div class="dur-wrapper">
    <select class="years"></select>
    <div class="arrow"></div>
  </div>
  <div class="dur-wrapper">
    <select class="months"></select>
    <div class="arrow"></div>
  </div>
</div>
