<div>거주기간: </div>
<div class="duration-start">
  <input type="hidden" name="review_house[start_time]" id="start"/>
  <select class="years"></select>
  <select class="months"></select>
</div>
<div class="duration-end">
  <input type="hidden" name="review_house[end_time]" id="end"/>
  <select class="years"></select>
  <select class="months"></select>
</div>
