<div class="write-container">
  <form id="form-write" action="/review_houses" method="post" enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="QGthAE0W7zBgRqvzsphx7J05/bXasa8bpotEkFjwctIqEBfabdK1rN6B8wlcupH4ElpoBt2n9KwRY2it813Whw==">
    <div class="content-wrapper">
      <div class="title">
        <input type="text" placeholder="제목" name="review_house[title]"/>
      </div>
      <div class="address">
        <input type="hidden" name="review_house[latitude]" id="latitude">
        <input type="hidden" name="review_house[longtitude]" id="longtitude">
        <input type="text" placeholder="주소 ex) 서울시 마포구 망원동 479-94" name="review_house[address]"/>
        <span class="addr-cond"></span>
      </div>
      <div class="duration">
        <%= render template: "review_houses/_duration" %>
      </div>
      <div class="image">
        <label for="write-img">
          <div class="button-wrapper">
            <div>사진업로드</div>
          </div>
        </label>
        <div class="image-path"></div>
        <input type="file" id="write-img" name="pic_house[]"/>
      </div>
      <div class="satisfactions">
        <%= render template: "review_houses/_satisfactions" %>
      </div>
      <div class="reviews">
        <%= render template: "review_houses/_reviews" %>
      </div>
      <div class="pros-and-cons">
        <%= render template: "review_houses/_pros_and_cons" %>
      </div>
      <div class="actions">
        <div class="btn submit">게시하기</div>
      </div>
    </div>
  </form>
</div>
