<div class="cons">
  <div class="left">
    <div>단점</div>
    <div>3줄 단점</div>
  </div>
  <div class="right">
    <input type="text" placeholder="15자 이내" name="cons[0]">
    <input type="text" placeholder="15자 이내" name="cons[1]">
    <input type="text" placeholder="15자 이내" name="cons[2]">
  </div>
</div>
<div class="pros">
  <div class="left">
    <div>장점</div>
    <div>3줄 장점</div>
  </div>
  <div class="right">
    <input type="text" placeholder="15자 이내" name="pros[0]">
    <input type="text" placeholder="15자 이내" name="pros[1]">
    <input type="text" placeholder="15자 이내" name="pros[2]">
  </div>
</div>
