<div class="price">
  <div class="left">
    <div>가격리뷰</div>
    <div>최소 100자</div>
  </div>
  <div class="right">
    <textarea name="review_house[price_review]"></textarea>
  </div>
</div>

<div class="residence">
  <div class="left">
    <div>주거지리뷰</div>
    <div>최소 100자</div>
  </div>
  <div class="right">
    <textarea name="review_house[residence_review]"></textarea>
  </div>
</div>

<div class="environment">
  <div class="left">
    <div>주거환경리뷰</div>
    <div>최소 100자</div>
  </div>
  <div class="right">
    <textarea name="review_house[env_review]"></textarea>
  </div>
</div>
