<div class="price">
  <input type="hidden" name="review_house[price_satisfaction]" id="price"/>
  <div class="title">가격 만족도</div>
  <div class="stars">
    <%= render template: "review_houses/_star_container" %>
  </div>
</div>
<div class="residence">
  <input type="hidden" name="review_house[residence_satisfaction]" id="residence"/>
  <div class="title">주거지 만족도</div>
  <div class="stars">
    <%= render template: "review_houses/_star_container" %>
  </div>
</div>
<div class="environment">
  <input type="hidden" name="review_house[env_satisfaction]" id="environment"/>
  <div class="title">주거환경 만족도</div>
  <div class="stars">
    <%= render template: "review_houses/_star_container" %>
  </div>
</div>
