<!-- <p id="notice"><%= notice %></p> -->

<div class="index-container">
  <div class="content-wrapper">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
      <% @review_houses.each do |review_house| %>
        <div class="grid-item">
          <%= render template: "review_houses/_pinterest_card", :locals => {:review_house => review_house} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
