<div class="index-container" ng-controller="IndexCtrl">
  <div class="content-wrapper">
    <div class="title">살아본 놈이 제일 잘 안다</div>
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 275 }'>
      <% @review_houses.each do |review_house| %>
        <div class="grid-item" ng-click="getCardDetail(<%= review_house.id %>)">
          <div class="card-wrapper">
            <%= render template: "review_houses/_pinterest_card", :locals => {:review_house => review_house} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="show-container">
  <%= render template: "review_houses/_show_modal" %>
</div>
