<div class="modal fade" id="modal-show" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-title">
        <div class="title"></div>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
