<% if !user_signed_in? %>
<div class="modal fade" id="modal-sign-in" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="sign-in">
          <div class="modal-title">
            <div>로그인</div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="content-wrapper">
            <div class="email-container">
              <div>이메일</div>
              <input type="email" placeholder="이메일" class="user-id"/>
            </div>
            <div class="password-container">
              <div>비밀번호</div>
              <input type="password" placeholder="비밀번호" class="user-pw"/>
            </div>
            <div class="remember-container">
              <input type="checkbox" class="remember-me">
              <div>로그인 상태 유지</div>
            </div>
            <div class="sign-in-btn-container">
              <div class="sign-in-btn my-btn">로그인</div>
              <div class="sign-in-btn my-btn fb">페이스북으로 로그인</div>
            </div>
            <div class="sign-up-btn-container">
              <div class="sign-up-info">아직 회원이 아니신가요?</div>
              <div class="sign-up-btn my-btn">이메일로 가입하기</div>
            </div>
            <div class="forgot-container">
              <div>비밀번호를 모르시겠나요?</div>
              <div class="find-pw">비밀번호 찾기</div>
            </div>
          </div>
        </div>
        <div id="sign-up">
          <div class="modal-title">
            <div>회원가입</div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="content-wrapper sign-up-main">
            <div class="email-container">
              <div>이메일</div>
              <input type="email" placeholder="이메일" class="email"/>
              <div class="email-conf"></div>
            </div>
            <div class="password-container">
              <div>비밀번호</div>
              <input type="password" placeholder="비밀번호" class="password"/>
              <input type="password" placeholder="비밀번호 확인" class="password-conf"/>
              <div class="pw-match"></div>
            </div>
            <div class="btn-next">
              <div>다음</div>
            </div>
          </div>
          <div class="content-wrapper sign-up-sub">
            <div class="nickname-container">
              <div>닉네임</div>
              <input type="text" placeholder="닉네임" class="nickname"/>
              <div class="nick-conf"></div>
            </div>
            <div class="birth-container">
              <div>태어난 년도</div>
              <select class="birth"></select>
            </div>
            <div class="occupation-container">
              <div>직업</div>
              <select class="occupation">
                <option value="1">대학생</option>
                <option value="2">대학원생</option>
                <option value="3">직장인</option>
                <option value="4">무직</option>
                <option value="5">대학생</option>
              </select>
            </div>
            <div class="sex-container">
              <div>성별</div>
              <input type="radio" name="sex" value="0">남</input>
              <input type="radio" name="sex" value="1">여</input>
            </div>
            <div class="btn-confirm">
              <div>회원가입</div>
            </div>
          </div>
          <div class="content-wrapper sign-up-fin">
            <div class="info-container">
              <div>인증 메일이 발송되었습니다. 메일을 확인해주세요</div>
            </div>
            <div class="btn-okay">
              <div>확인</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="modal fade" id="modal-test" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>TEST MODAL.</p>
      </div>
    </div>
  </div>
</div>
