body {
  margin: 0px;
  .main-container {
    // height: 100%;
    position: absolute;
    width: 100%;
    .content-container {
      height: calc(100% - 120px);
      margin-top: 120px;
      .sub-navbar {
        background: #fff;
        padding: 19px 15px 1px 15px;
        div {
          color: #50265e;
          opacity: 0.45;
          font-size: 25px;
          line-height: 25px;
          text-align: center;
          display: inline-block;
          padding: 6px 18px 26px 18px;
          margin: 0px 5px;
          &.selected {
            opacity: 1;
            border-bottom: 3px solid #502652;
          }
        }
        div:first-child {
          margin: 0px;
        }
        div:nth-child(3) {
          margin-right: 20px;
        }
      }
    }
    .nav-bar {
      z-index: 2;
      position: fixed;
      width: 100%;
      height: 120px;
      background: #f4ca66;
      padding: 0px 45px;
      div {
        display: inline-block;
        &.nav-logo {
          height: 100%;
          margin-right: 26px;
          float: left;
          img {
            height: 100%;
          }
        }
        &.nav-search {
          height: 100%;
          padding: 45px 0px;
          width: calc(100% - 420px);
          .search-wrapper {
            width: 100%;
            height: 100%;
            background: #fff;
            .search-img-wrapper, .search-input-wrapper, .search-type-wrapper {
              height: 100%;
              display: inline-block;
              background: #fff;
              vertical-align: top;
            }
            .search-img-wrapper {
              padding: 6px;
              img {
                height: 100%;
              }
            }
            .search-input-wrapper {
              width: calc(100% - 210px);
              input {
                width: 100%;
                height: 100%;
                padding: 0px;
                border: 0px;
                margin: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -o-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
              }
            }
            .search-type-wrapper {
              display: inline-block;
              float: right;
              div {
                background: #f0efee;
                font-size: 17px;
                color: #50265e;
                padding: 6px 28px;
                &.selected {
                  background: #dc534c;
                  color: #fff;
                }
              }
              .house {
                float: left;
              }
              .life {
                float: right;
              }
            }
          }
        }
        &.nav-buttons {
          height: 100%;
          padding: 40px 0px;
          float: right;
          img {
            height: 40px;
            margin-left: 30px;
            &.write {
              margin-left: 36px;
            }
          }
        }
      }
    }
  }
  .side-bar {
    padding-bottom: 31px;
    overflow-y: scroll;
    width: 0px;
    position: fixed;
    height: 100%;
    right: 0;
    z-index: 3;
    background: #fafafa;
    transition: 0.5s;
    &.opened {
      width: 300px;
    }
    .header {
      text-align: right;
      .cancel-wrapper {
        padding: 21px 16px;
        .cancel {
          height: 27px;
        }
      }
    }
    .body {
      font-size: 25px;
      line-height: 25px;
      .side-btn {
        padding: 27px;
        background: #fff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &.nickname {
          text-align: center;
          padding-bottom: 22px;
        }
        &.settings, &.sign-out {
          height: 53px;
          line-height: 22px;
          font-size: 22px;
          padding: 0px 41px 21px 41px;
          div {
            display: inline-block;
            vertical-align: middle;
          }
          img {
            height: 100%;
            margin-right: 17px;
          }
        }
      }
      .border-top {
        border-top: 1px solid #e6e6e6;
      }
      .border-bottom {
        border-bottom: 1px solid #e6e6e6;
      }
      .sign-in {
        padding-top: 39px;
      }
      .scrap {
        padding-bottom: 39px;
      }
      .margin-bottom {
        margin-bottom: 31.5px;
      }
      .cs {
        div {
          display: inline-block;
          &.arrow {
            margin-left: 130px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 9px solid #b2b1b1;
            &.upper {
              border-bottom: 9px solid #b2b1b1;
              border-top: none;
            }
          }
        }
      }
      .cs-detail {
        padding: 34px 54px;
        background: #fff;
        display: none;
        .ds {
          margin-bottom: 34px;
          font-size: 23px;
          line-height: 23px;
          padding: 0px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  .side-bar-background {
    display: none;
    background-color: black;
    opacity: .5;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;

    &.sidebar-opened {
      display: block;
    }
  }
}
