body {
  margin: 0px;
  .main-container {
    position: absolute;
    height: 100%;
    width: 100%;
    .nav-bar {
      height: 120px;
      background: #f4ca66;
      div {
        display: inline-block;
      }
    }
    .content-container {
      padding: 10px;
    }
  }
  .side-bar {
    width: 0px;
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 1;
    background: #fafafa;
    transition: 0.5s;
    &.opened {
      width: 300px;
    }
    .header {
      height: 69.5px;
    }
    .body {
      font-size: 25px;
      .side-btn {
        padding: 27px;
        background: #fff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .border-top {
        border-top: 1px solid #e6e6e6;
      }
      .border-bottom {
        border-bottom: 1px solid #e6e6e6;
      }
      .sign-in {
        padding-top: 39px;
      }
      .scrap {
        padding-bottom: 39px;
      }
      .margin-bottom {
        margin-bottom: 31.5px;
      }
    }
  }

  .side-bar-background {
    display: none;
    background-color: black;
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;

    &.sidebar-opened {
      display: block;
    }
  }
}
