@font-face{
  font-family: "BMJUA";
  src: asset-url("BMJUA_otf.otf");
}

@font-face{
  font-family: "NANUMGOTHIC";
  src: asset-url("NanumBarunGothicOTF-YetHangul.otf");
}

body {
  div {
    cursor: default;
    font-family: NANUMGOTHIC;
  }
  img {
    vertical-align: top;
  }

  img {
    &.yonsei-banner {
      cursor: pointer;
      position: fixed;
      top: 220px;
      left: 30px;
      width: 11%;
    }
  }
}
