.map-container {
  height: 100%;
  overflow: hidden;
  .map-wrapper {
    display: inline-block;
    width: calc(100% - 350px);
    height: 100%;
    overflow: hidden;
    #map {
      height: 100%;
      width: 100%;
      overflow: inherit;
    }
  }
  .review-container {
    float: right;
    width: 350px;
    height: 100%;
    overflow: hidden;
    .review-map-header {
      background: #fa5346;
      .title {
        font-size: 30px;
        line-height: 34px;
        padding: 11px 15px;
        color: #fff;
      }
    }
    .review-map-body {
      height: calc(100% - 56px);
      background: #fff;
      overflow-y: scroll;
      overflow-x: hidden;
      .no-data {
        height: 100%;
        text-align: center;
        padding: 70% 26px;
        font-size: 27px;
        opacity: 0.7;
        div {
          font-family: BMJUA;
          line-height: 35px;
        }
      }
      .review-wrapper {
        padding: 28px 62px;
        .card-wrapper {
          margin-bottom: 22px;
          border: 1px solid #ddd;
          .image-wrapper {
            max-height: 216px;
          }
          .details-wrapper {
            padding: 5px 13px;
            .type-wrapper {
              height: 20px;
              line-height: 20px;
              span {
                padding: 2px;
                font-size: 9px;
              }
            }
            .title-wrapper {
              div {
                font-size: 20px;
                line-height: 20px;
                font-weight: bold;
              }
            }
            .address-wrapper {
              div {
                font-size: 13px;
                line-height: 13px;
              }
            }
            .writtenby-wrapper {
              div {
                font-size: 10px;
                line-height: 10px;
              }
            }
            .upvote-and-scrap-wrapper {
              line-height: 10px;
              .upvote-wrapper, .scrap-wrapper, div:nth-child(2) {
                div {
                  font-size: 10px;
                  height: 10px;
                  line-height: 10px;
                }
              }
            }
            .type-wrapper, .title-wrapper, .address-wrapper, .writtenby-wrapper, .hashtag-wrapper {
              margin-bottom: 6px;
            }
            .upvote-and-scrap-wrapper {
              margin-bottom: 0px;
            }
          }
          .satisfaction-wrapper {
            padding: 13px;
            .star-container {
              margin: 0px 8px;
              div {
                img {
                  height: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
