.modal {
  .modal-dialog {
    margin-top: 200px;
  }
}
.modal {
  &#modal-sign-in {
    .modal-dialog {
      .modal-content {
        width: 632.5px;
        border-radius: 0px;
        .modal-body {
          padding: 0px 0px 20px 0px;
          .modal-title {
            height: 80.5px;
            line-height: 80.5px;
            padding: 0px 30.5px;
            background: #f4ca66;
            div {
              display: inline-block;
              font-size: 30px;
              color: #50265a;
            }
            .close {
              line-height: 80.5px;
              text-shadow: none;
              opacity: 1;
              img {
                vertical-align: middle;
              }
            }
          }
          .content-wrapper {
            padding: 19px 30.5px;
          }

          #sign-in {
            display: block;
            font-size: 24px;
            .email-container, .password-container {
              margin-bottom: 40px;
              div {
                line-height: 24px;
                margin-bottom: 15px;
              }
              input {
                line-height: 24px;
                width: 100%;
                padding: 12px 21px;
                border-radius: 10px;
                border: 1px solid #bbb;
              }
            }
            .remember-container {
              margin-bottom: 18.5px;
              div {
                display: inline-block;
                font-size: 18px;
                line-height: 18px;
              }
            }
            .sign-in-btn-container, .sign-up-btn-container {
              margin-bottom: 31px;
              .my-btn {
                font-size: 26px;
                line-height: 26px;
                text-align: center;
                padding: 19px 0px;
                border-radius: 10px;
                background: #f4ca66;
                color: #fff;
                margin-bottom: 15.5px;
                &.fb {
                  background: #4065b4;
                }
              }
            }
            .sign-up-btn-container {
              margin-bottom: 20px;
              .sign-up-info {
                margin-bottom: 15.5px;
                font-size: 24px;
                line-height: 24px;
              }
            }
            .forgot-container {
              div {
                display: inline-block;
                font-size: 24px;
                line-height: 24px;
                &.find-pw {
                  text-decoration: underline;
                }
              }
            }
          }
          #sign-up {
            .sign-up-main {
              display: block;
              font-size: 26px;
              line-height: 26px;
              padding-top: 93.5px;
              .email-container, .password-container {
                div {
                  margin-bottom: 12px;
                }
                span {
                  font-size: 13px;
                  line-height: 13px;
                  color: #ed1c24;
                  position: relative;
                  float: right;
                  top: -40px;
                  margin-right: 21px;
                }
                input {
                  line-height: 26px;
                  border: 1px solid #bbb;
                  padding: 12px 21px;
                  border-radius: 10px;
                  width: 100%;
                  &.password {
                    margin-bottom: 20px;
                  }
                }
              }
              .email-container {
                margin-bottom: 42px;
              }
              .password-container {
                margin-bottom: 75px;
              }
              .btn-next {
                line-height: 26px;
                font-size: 26px;
                text-align: center;
                padding: 19px 0px;
                border-radius: 10px;
                background: #f4ca66;
                color: #fff;
                margin-bottom: 15.5px;
              }
            }
            .sign-up-sub {
              line-height: 26px;
              font-size: 26px;
              display: none;
              padding-top: 30px;
              .nickname-container {
                span {
                  line-height: 13px;
                  font-size: 13px;
                  color: #ed1c24;
                  position: relative;
                  float: right;
                  top: -40px;
                  margin-right: 21px;
                }
              }
              .nickname-container, .birth-container, .occupation-container {
                div {
                  line-height: 26px;
                  margin-bottom: 12px;
                }
                select {
                  -webkit-appearance: none; /* 네이티브 외형 감추기 */ 
                  -moz-appearance: none; 
                  appearance: none;
                }
                input, .birth, .occupation {
                  background: #fff;
                  border: 1px solid #bbb;
                  padding: 12px 21px;
                  border-radius: 10px;
                  width: 100%;
                  line-height: 26px;
                }
                .arrow {
                  width: 0;
                  height: 0;
                  border-left: 10px solid transparent;
                  border-right: 10px solid transparent;
                  border-top: 16px solid #bbb;
                  position: relative;
                  float: right;
                  top: -31px;
                  margin-right: 20px;
                }
                margin-bottom: 42px;
              }
              .sex-container {
                div {
                  margin-bottom: 12px;
                  line-height: 26px;
                }
                .radio-container {
                  font-size: 24px;
                  line-height: 24px;
                  input {
                    margin: 0px 10px;
                    &:nth-child(2) {
                      margin-left: 50px;
                    }
                  }
                }
                margin-bottom: 20px;
              }
              .btn-confirm {
                font-size: 26px;
                line-height: 26px;
                text-align: center;
                padding: 19px 0px;
                border-radius: 10px;
                background: #f4ca66;
                color: #fff;
                margin-bottom: 15.5px;
              }
            }
            .sign-up-fin {
              display: none;
              padding: 50px 30.5px;
              .info-container {
                padding: 50px 67px;
                div {
                  text-align: center;
                  font-size: 30px;
                  line-height: 30px;
                }
              }
              .btn-okay {
                background: #f4ca66;
                text-align: center;
                color: #fff;
                font-size: 30px;
                line-height: 30px;
                padding: 14px 0px;
              }
            }
          }
        }
      }
    }
  }
  &#modal-write {
    .modal-dialog {
      margin-top: 140px;
      .modal-content {
        width: 563px;
        height: 314px;
        border-radius: 0px;
        .modal-title {
          padding: 16px 24px;
          color: #50265e;
          background: #f4ca66;
          div {
            display: inline-block;
            font-size: 25px;
            line-height: 25px;
            &.close-wrapper {
              height: 25px;
              float: right;
              img {
                height: 100%;
              }
            }
          }
        }
        .modal-body {
          padding: 45px 78px;
          img {
            height: 159px;
            &:first-child {
              float: left;
              margin-left: 10px;
            }
            &:nth-child(2) {
              float: right;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  &#modal-write-info {
    .modal-dialog {
      margin-top: 100px;
      .modal-content {
        width: 632px;
        border-radius: 0px;
        .modal-title {
          padding: 23px 30px;
          line-height: 21px;
          font-size: 21px;
          font-weight: bold;
          div {
            color: #50265e;
          }
        }
        .modal-body {
          padding: 0px 40px;
          padding-left: 33px;
          font-size: 17px;
          line-height: 25px;
          ol {
            padding-left: 22px;
            margin-bottom: 0px;
            li {
              margin-bottom: 12px;
              font-size: 17px;
              line-height: 25px;
              font-family: NANUMGOTHIC;
            }
          }
        }
        .modal-footer {
          border-top: none;
          padding: 20px 36px 23px 36px;
          .button-wrapper {
            float: right;
            .btn {
              font-size: 21px;
              line-height: 21px;
              text-align: center;
              border-radius: 0px;
              color: #fff;
              &.disagree {
                background: #f4ca66;
                padding: 18px 64px;
                margin-right: 14px;
              }
              &.agree {
                background: #dc534c;
                padding: 18px 23px;
              }
            }
          }
        }
      }
    }
  }
  &#modal-write-lifefeed {
    .modal-dialog {
      margin-top: 100px;
      .modal-content {
        width: 640px;
        padding: 39px 22px;
        border-radius: 0px;
        .modal-header {
          border: 0px;
          padding: 0px;
        }
        .modal-body {
          padding: 0px;
          .title, .hashtag, .content {
            width: 100%;
            input, textarea {
              width: 100%;
              border: 1px solid #ccc;
              padding: 13px;
              color: #4d4d4d;
              font-size: 19px;
              line-height: 19px;
            }
            textarea {
              line-height: 35px;
              resize: none;
              height: 145px;
            }
          }
          .image-file {
            label {
              font-size: 19px;
              line-height: 19px;
              background: #dc534c;
              color: #fff;
              padding: 13px;
              font-weight: normal;
            }
            input[type="file"] {
              position: absolute;
              width: 1px;
              height: 1px;
              padding: 0;
              margin: -1px;
              overflow: hidden;
              clip: rect(0,0,0,0);
              border: 0;
            }

          }
          .title, .hashtag, .image-file {
            margin-bottom: 23px;
          }
        }
        .modal-footer {
          border: 0px;
          padding: 0px 202px;
          margin-top: 26px;
          .button.submit {
            text-align: center;
            background: #f4ca66;
            font-size: 21px;
            line-height: 21px;
            color: #fff;
            padding: 13px 38px;
          }
        }
      }
    }
  }
}
