.notice-container {
  padding: 0px 14%;
  .notice-wrapper {
    width: 100%;
    padding: 100px 80px;
    background: #fff;
    .noti-header {
      font-size: 80px;
      line-height: 80px;
      margin-bottom: 78px;
    }
  }

}
