.notice-container, .qna-container {
  padding: 0px 14%;
  height: 900px;
  .notice-wrapper, .qna-wrapper {
    height: 100%;
    width: 100%;
    padding: 100px 80px;
    background: #fff;
    .noti-header, .qna-header {
      font-size: 80px;
      line-height: 80px;
      margin-bottom: 78px;
    }
    .noti-body, .qna-body {
      table {
        width: 100%;
        font-size: 16px;
        tr {
          height: 59px;
          &:first-child {
            text-align: center;
            background: #fafafa;
            td:first-child {
              width: 70%;
            }
          }
          .inner-table {
            width: 100%;
            border-bottom: 1px solid #ddd;
            tr {
              text-align: left;
              background: #fff;
              td {
                padding: 0px 30px;
                &.created_at {
                  text-align: center;
                }
                &.content {
                  padding: 18px 53px;
                }
              }
              &.hide {
                display: none;
              }
            }
          }
        }
      }
      .pagination {
        width: 100%;
        text-align: center;
        color: #b2b1b1;
        height: 34px;
        line-height: 34px;
        a:hover {
          background-color: #fff;
          color: inherit;
        }
        a, span {
          font-size: 16px;
          line-height: 16px;
          color: #b2b1b1;
          margin: 0px 4px;
          padding: 8px 12px;
          border: 1px solid #b2b1b1;
        }
        .arrow {
          display: inline-block;
        }
        .current {
          font-size: 16px;
          line-height: 16px;
          color: #fff;
          background: #555;
          font-style: normal;
          margin: 0px 4px;
          padding: 8px 12px;
          border: 1px solid #b2b1b1;
        }

      }
    }
  }
}

.qna-container {
  .qna-wrapper {
    .qna-body {
      .reg-qna {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        form {
          .reg-left {
            width: 80%;
            display: inline-block;
            margin-right: 20px;
            input, textarea {
              width: 100%;
              border: 1px solid #b2b1b1;
              padding: 5px;
            }
            input {
              margin-bottom: 10px;
            }
            textarea {
              resize: none;
              height: 200px;
            }
          }
          .reg-right {
            vertical-align: top;
            display: inline-block;
            .submit-button {
              font-size: 20px;
              line-height: 20px;
              background: #f4ca66;
              color: #fff;
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }
}
