.masonry-brick {
  width: 275px;
  padding: 13px;
  .card-wrapper {
    background: #fff;
    border-radius: 10px;
    img {
      width: 100%;
      border-radius: 10px 10px 0px 0px;
    }
    .satisfaction-wrapper {
      .star-container {
        display: inline-block;
        div {
          width: 30px;
          img.star {
            height: 100%;
          }
        }
      }
    }
  }
}
