.content-container {
  background: #dddddd;
  .write-container {
    padding: 50px 100px;
    .content-wrapper {
      background: #fff;
      padding: 44px 22px;
      .duration {
        .duration_start, .duration_end {

        }
      }
      .satisfactions {
        .stars {
          .score {
            display: inline-block;
            img {
              &.none {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .index-container {
    padding: 50px 200px;
    .content-wrapper {
      background: #fff;
    }
  }
}

.grid-item {
  width: 275px;
}
