.content-container {
  background: #dddddd;
  .write-container {
    padding: 50px 100px;
    .content-wrapper {
      background: #fff;
      padding: 44px 22px;
      .title, .address {
        input {
          width: 100%;
          font-size: 27px;
          line-height: 27px;
          padding: 22px 24px;
          color: #b2b1b1;
        }
      }
      .title {
        margin-bottom: 23px;
      }
      .address {
        margin-bottom: 27px;
      }
      .duration {
        margin-bottom: 27px;
        div:first-child {
          font-size: 27px;
          line-height: 27px;
          margin-bottom: 18px;
        }
        .floating {
          display: inline-block;
          margin: 0px 78px;
          font-size: 27px;
          line-height: 27px;
        }
        .duration-start, .duration-end {
          display: inline-block;
          .dur-wrapper {
            display: inline-block;
            &:nth-child(2), &:nth-child(3) {
              margin-right: 18px;
            }
            select {
              width: 125px;
              padding: 17px 8px 13px 16px;
              font-size: 27px;
              line-height: 27px;
              background: #fff;
              color: #b2b1b1;
              border: 1px solid #b2b1b1;
              border-radius: 0px;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
            }
            .arrow {
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 9px solid #b2b1b1;
              position: relative;
              margin-left: 100px;
              top: -31px;
            }
          }

        }
      }
      .image {
        margin-bottom: 57px;
        label {
          font-size: 29px;
          line-height: 29px;
          background: #f4ca66;
          color: #fff;
          padding: 16px 40px;
          font-weight: normal;
        }
        input[type="file"] {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0,0,0,0);
          border: 0;
        }
      }
      .satisfactions {
        margin-bottom: 36px;
        .price, .residence, .environment {
          height: 27px;
          margin-bottom: 26px;
          .title {
            width: 187px;
            font-size: 27px;
            line-height: 27px;
            display: inline-block;
          }
          .stars {
            // float: right;
            height: 100%;
            vertical-align: top;
            display: inline-block;
            .score {
              height: 100%;
              display: inline-block;
              margin-right: 24px;
              img {
                height: 100%;
                &.none {
                  display: none;
                }
              }
            }
          }
          &.environment {
            margin-bottom: 0px;
          }
        }
      }
      .reviews {
        width: 100%;
        margin-bottom: 38px;
        .price, .residence, .environment {
          width: 100%;
          margin-bottom: 43px;
          height: 112px;
          .left {
            vertical-align: top;
            padding-top: 16px;
            display: inline-block;
            width: 187px;
            div:first-child {
              font-size: 27px;
              margin-bottom: 6px;
            }
            div:last-child {
              font-size: 20px;
              color: #b2b1b1;
            }
          }
          .right {
            display: inline-block;
            height: 100%;
            width: calc(100% - 195px);
            textarea {
              font-size: 27px;
              line-height: 27px;
              height: 100%;
              padding: 17px 14px;
              border: 1px solid #b2b1b1;
              resize: none;
              width: 100%;
            }
          }
        }
        &.environment {
          margin-bottom: 0px
        }
      }
      .pros-and-cons {
        margin-bottom: 92px;
        .cons, .pros {
          margin-bottom: 30px;
          .left {
            display: inline-block;
            width: 187px;
            vertical-align: top;
            div:first-child {
              font-family: BMJUA;
              font-size: 53px;
              line-height: 53px;
              color: #dc534c;
            }
            div:last-child {
              font-size: 20px;
              line-height: 20px;
              color: #b2b1b1;
            }
          }
          .right {
            display: inline-block;
            width: calc(100% - 195px);
            img {
              height: 33px;
              margin-right: 30px;
              vertical-align: middle;
            }
            input {
              border: 1px solid #b2b1b1;
              width: calc(100% - 79px);
              font-size: 23px;
              line-height: 23px;
              padding: 17px 16px;
              margin-bottom: 30px;
              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
        .pros {
          .left {
            div:first-child {
              color: #f4ca66;
            }
          }
          margin-bottom: 0px;
        }
      
      }
      .actions {
        text-align: center;
        .btn.submit {
          background: #f4ca66;
          font-size: 30px;
          line-height: 30px;
          color: #fff;
          padding: 16px 50px;
          border-radius: 0px;
        }
      }
    }
  }
  .index-container {
    padding: 50px 14%;
    .content-wrapper {
      background: #dddddd;
      .title {
        font-family: BMJUA;
        height: 68px;
        line-height: 68px;
        text-align: center;
        font-size: 60px;
        color: #50265e;
      }
    }
  }
}

.modal {
  &.modal-dialog-show {
    .modal-dialog {
      width: 860px;
      .modal-content {
        border-radius: 0px;
        padding: 23px 0px;
        .content-wrapper.show-modal {
          .image-container {
            padding: 0px 20px;
            width: 100%;
            text-align: center;
            img {
              width: 100%;
            }
          }
          .details-container {
            padding: 50px 20px 23px 20px;
            .title-container {
              line-height: 54px;
              font-size: 54px;
              margin-bottom: 19px;
              .title {
                font-family: BMJUA;
              }
            }
            .writtenby-container, .addr-container, .duration-container {
              line-height: 27px;
              font-size: 27px;
              margin-bottom: 16px;
              div {
                display: inline-block;
                color: #999999;
              }
            }
          }
          .satisfaction-container {
            height: 211px;
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            .avr-container {
              float: left;
              margin-top: 54px;
              .title {
                font-family: BMJUA;
                font-size: 53px;
                line-height: 53px;
                text-align: center;
                margin-bottom: 10px;
              }
              .stars {
                .score {
                  margin: 0px 16px;
                  display: inline-block;
                  img {
                    height: 40px;
                    &.none {
                      display: none;
                    }
                  }
                }
                .score:last-child {
                  margin-right: 0px;
                }
              }
            }
            .detail-container {
              margin-top: 37px;
              width: 55%;
              float: right;
              padding-left: 22px;
              padding-right: 23px;
              .price, .residence, .environment {
                height: 26px;
                line-height: 26px;
                margin-bottom: 22px;
                .title {
                  display: inline-block;
                  font-size: 26px;
                }
                .stars {
                  float: right;
                  .score {
                    display: inline-block;
                    margin: 0px 11px;
                    img {
                      height: 26px;
                      &.none {
                        display: none;
                      }
                    }
                  }
                  .score:last-child {
                    margin-right: 0px;
                  }
                }
              }
            }
          }
          .review-container {
            .review-wrapper {
              border-bottom: 1px solid #e6e6e6;
              padding: 19px 20px;
              .review-header {
                height: 53px;
                margin-bottom: 7px;
                .title {
                  font-family: BMJUA;
                  height: 100%;
                  line-height: 53px;
                  display: inline-block;
                  font-size: 53px;
                }
                .info {
                  margin-left: 20px;
                  display: inline-block;
                  font-size: 27px;
                  color: #999;
                }
              }
              .content {
                padding: 0px 17px;
                line-height: 33px;
                font-size: 27px;
                color: #1a1a1a;
              }
            }
          }
          .p-a-c-container {
            height: 256px;
            border-bottom: 1px solid #e6e6e6;
            .pros, .cons {
              height: 100%;
              display: inline-block;
              padding: 30px 42px;
              width: 50%;
              .title {
                font-family: BMJUA;
                height: 53px;
                line-height: 53px;
                text-align: center;
                font-size: 53px;
                margin-bottom: 25px;
              }
              .pros-content-wrapper, .cons-content-wrapper {
                margin-bottom: 15px;
                height: 33px;
                img {
                  height: 100%;
                }
                .content {
                  display: inline-block;
                  line-height: 27px;
                  font-size: 27px;
                }
              }
            }
            .pros {
              float: left;
              border-right: 1px solid #e6e6e6;
              .title {
                color: #dc534c;
              }
            }
            .cons {
              float: right;
              .title {
                color: #f4ca66;
              }
            }
          }
          .upvote-and-scrap-container {
            height: 320px;
            .upvote, .scrap {
              display: inline-block;
              margin: 107px 0px 54px 0px;
              height: 158px;
              line-height: 158px;
              .count {
                display: inline-block;
                font-size: 47px;
              }
              .button {
                display: inline-block;
                height: 100%;
                img {
                  height: 100%;
                }
              }
            }
            .upvote {
              margin-left: 128px;
              float: left;
              .count {
                float: left;
                color: #faca66;
                margin-right: 62px;
              }
            }
            .scrap {
              margin-right: 128px;
              float: right;
              .count {
                float: right;
                color: #50265e;
                margin-left: 62px;
              }
            }
          }
          .comment-container {
            .write-container {
              height: 310px;
              .title {
                border-bottom: 1px solid #000;
                padding: 0px 20px 10px 20px;
                font-size: 27px;
                line-height: 27px;
              }
              textarea {
                border: 1px solid #e6e6e6;
                width: calc(100% - 46px);
                height: 160px;
                margin: 24px 21px;
                resize: none;
              }
              .button {
                float: right;
                margin-right: 25px;
                width: 128px;
                height: 57px;
                line-height: 57px;
                text-align: center;
                font-size: 30px;
                background: #f4ca66;
                color: #fff;
              }
            }
            .list-container {
              .sort-by {
                padding: 5px 20px 22px 20px;
                div {
                  display: inline-block;
                  height: 71px;
                  line-height: 71px;
                  font-size: 27px;
                  width: 69px;
                  text-align: center;
                  margin-right: 22px;
                  opacity: 0.45;
                  &.selected {
                    border-bottom: 3px solid #000;
                    opacity: 1;
                  }
                }
              }
              .comment-wrapper {
                padding: 19px 20px 11px 20px;
                border-bottom: 1px solid #e6e6e6;
                .comment-inner-wrapper {
                  .comment-left {
                    display: inline-block;
                    width: 700px;
                    .comment-header {
                      margin-bottom: 10px;
                      div {
                        display: inline-block;
                        margin-right: 17px;
                        &.nickname {
                          font-size: 19px;
                        }
                        &.created-at, &.btn-delte {
                          color: #999;
                          font-size: 13px;
                        }
                      }
                    }
                    .comment-body {
                      margin-bottom: 20px;
                      div {
                        display: inline-block;
                        &.content {
                          font-size: 19px;
                          color: #4d4d4d;
                        }
                      }
                    }
                  }
                  .comment-right {
                    vertical-align: top;
                    display: inline-block;
                    margin-left: 30px;
                    height: 43px;
                    line-height: 43px;
                    .upvote {
                      height: 100%;
                      line-height: 50px;
                      display: inline-block;
                      img {
                        height: 100%;
                      }
                    }
                    .upvote-count {
                      display: inline-block;
                      font-size: 27px;
                      color: #f4ca66;
                      margin-left: 9px;
                    }
                  }
                }
                .subcomment-wrapper {
                  font-size: 19px;
                  .subcomment-header {
                    margin-bottom: 22px;
                    div {
                      color: #999;
                      display: inline-block;
                      .arrow {
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 9px solid #b2b1b1;
                        margin-left: 7px;
                        .upper {
                          border-bottom: 9px solid #b2b1b1;
                        }
                      }
                      &.devider {
                        margin: 0px 11px;
                        font-size: 14px;
                      }
                    }
                  }
                  .subcomment-body {
                    .write-subcomment {
                      margin-bottom: 11px;
                      textarea {
                        width: 708px;
                        height: 59px;
                        padding: 8px 10px;
                        resize: none;
                        border: 1px solid #b2b1b1;
                      }
                      .submit-subcomment {
                        margin-left: 29px;
                        display: inline-block;
                        vertical-align: bottom;
                        background: #f4ca66;
                        color: #fff;
                        padding: 6px 16px;
                        font-size: 11px;
                        line-height: 11px;
                      }
                    }
                    .show-subcomment {
                      .subcomments {
                        padding: 0px 51px;
                        .sub-header {
                          margin-bottom: 10px;
                          div {
                            display: inline-block;
                            margin-right: 17px;
                            &.nickname {
                              font-size: 19px;
                            }
                            &.created-at, &.btn-delete {
                              color: #999;
                              font-size: 13px;
                            }
                          }
                        }
                        .sub-body {
                          margin-bottom: 20px;
                          div {
                            display: inline-block;
                            &.content {
                              font-size: 19px;
                              color: #4d4d4d;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
