.modal {
  &.modal-dialog-show-life {
    .modal-dialog {
      width: calc(100% - 420px);
      .modal-content {
        border-radius: 0px;
        padding: 23px 20px;
        .content-wrapper.show-modal-life {
          .title-container {
            font-size: 48px;
          }
          .writtenby-container {
            font-size: 24px;
            div {
              display: inline-block;
            }
          }
          .image-container {
            padding: 0px 20px;
            margin-bottom: 53px;
            height: 300px;
            text-align: center;
            img {
              height: 100%;
            }
          }
          .content-container {
            font-size: 20px;
            background: #fff;
          }
          .upvote-and-scrap-container {
            padding: 105px 0px 56px 0px;
            .upvote, .scrap {
              display: inline-block;
              .button {
                height: 100px;
                img {
                  height: 100%;
                }
              }
            }
          }
          .comment-container {
            .write-container {
              .title {
                border-bottom: 1px solid #000;
                padding: 20px 20px;
                font-size: 24px;
              }
              textarea {
                width: calc(100% - 46px);
                height: 160px;
                margin: 22px;
                resize: none;
              }
              .button {
                width: 128px;
                height: 57px;
                line-height: 57px;
                text-align: center;
                font-size: 26px;
                border-radius: 10px;
                background: #f4ca66;
                color: #fff;
              }
            }
            .list-container {
              .sort-by {
                div {
                  display: inline-block;
                  font-size: 24px;
                }
              }
              .comment-wrapper {
                .comment-header {
                  div {
                    display: inline-block;
                    &.nickname {
                      font-size: 17px;
                    }
                    &.created-at {
                      font-size: 12px;
                    }
                  }
                }
                .comment-body {
                  div {
                    display: inline-block;
                    &.content {
                      font-size: 17px;
                    }
                    &.upvote {
                      height: 40px;
                      img {
                        height: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
