.modal {
  &.modal-dialog-show-life {
    .modal-dialog {
      width: calc(100% - 420px);
      .modal-content {
        border-radius: 0px;
        padding: 23px 20px;
        .content-wrapper.show-modal-life {
          .title-container {
            font-size: 48px;
          }
          .writtenby-container {
            font-size: 24px;
            div {
              display: inline-block;
            }
          }
          .image-container {
            margin-bottom: 53px;
            img {
              width: 100%;
            }
          }
          .content-container {
            font-size: 20px;
            background: #fff;
          }
        }
      }
    }
  }
}
