.modal {
  &.modal-dialog-show-life {
    .modal-dialog {
      width: 860px;
      .modal-content {
        border-radius: 0px;
        padding: 23px 0px;
        .content-wrapper.show-modal-life {
          .content-header {
            padding: 0px 20px 23px 20px;
            .edit-container {
              text-align: right;
              height: 36px;
              div {
                height: 100%;
                display: inline-block;
                img {
                  height: 100%;
                }
              }
            }
            .title-container {
              font-size: 54px;
              line-height: 54px;
              margin-bottom: 19px;
              .title {
                font-family: BMJUA;
              }
            }
            .writtenby-container, .hashtag-container {
              line-height: 27px;
              font-size: 27px;
              margin-bottom: 16px;
              div {
                display: inline-block;
                color: #999999;
              }
            }
          }
          .content-body {
            border-top: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            padding: 50px 20px;
            .image-container {
              padding: 0px 10px;
              margin-bottom: 53px;
              text-align: center;
              img {
                width: 100%;
              }
            }
            .content-container {
              font-size: 20px;
              background: #fff;
            }
          }
          .upvote-and-scrap-container {
            height: 320px;
            .upvote, .scrap {
              display: inline-block;
              margin: 107px 0px 54px 0px;
              height: 158px;
              line-height: 158px;
              .count {
                display: inline-block;
                font-size: 47px;
              }
              .button {
                display: inline-block;
                height: 100%;
                img {
                  height: 100%;
                }
              }
            }
            .upvote {
              margin-left: 128px;
              float: left;
              .count {
                float: left;
                color: #faca66;
                margin-right: 62px;
              }
            }
            .scrap {
              margin-right: 128px;
              float: right;
              .count {
                float: right;
                color: #50265e;
                margin-left: 62px;
              }
            }
          }
          .comment-container {
            .write-container {
              height: 310px;
              .title {
                border-bottom: 1px solid #000;
                padding: 0px 20px 10px 20px;
                font-size: 27px;
                line-height: 27px;
              }
              textarea {
                border: 1px solid #e6e6e6;
                width: calc(100% - 46px);
                height: 160px;
                margin: 24px 21px;
                resize: none;
              }
              .button {
                float: right;
                margin-right: 25px;
                width: 128px;
                height: 57px;
                line-height: 57px;
                text-align: center;
                font-size: 30px;
                background: #f4ca66;
                color: #fff;
              }
            }
            .list-container {
              .sort-by {
                padding: 5px 20px 22px 20px;
                div {
                  display: inline-block;
                  height: 71px;
                  line-height: 71px;
                  font-size: 27px;
                  width: 69px;
                  text-align: center;
                  margin-right: 22px;
                  opacity: 0.45;
                  &.selected {
                    border-bottom: 3px solid #000;
                    opacity: 1;
                  }
                }
              }
              .comment-wrapper {
                padding: 19px 20px 11px 20px;
                border-bottom: 1px solid #e6e6e6;
                .comment-inner-wrapper {
                  .comment-left {
                    display: inline-block;
                    width: 700px;
                    .comment-header {
                      margin-bottom: 10px;
                      div {
                        display: inline-block;
                        margin-right: 17px;
                        &.nickname {
                          font-size: 19px;
                        }
                        &.created-at, &.btn-delete {
                          color: #999;
                          font-size: 13px;
                        }
                      }
                    }
                    .comment-body {
                      margin-bottom: 20px;
                      div {
                        display: inline-block;
                        &.content {
                          font-size: 19px;
                          color: #4d4d4d;
                        }
                      }
                    }
                  }
                  .comment-right {
                    vertical-align: top;
                    display: inline-block;
                    margin-left: 30px;
                    height: 43px;
                    line-height: 43px;
                    .upvote {
                      height: 100%;
                      line-height: 50px;
                      display: inline-block;
                      img {
                        height: 100%;
                      }
                    }
                    .upvote-count {
                      display: inline-block;
                      font-size: 27px;
                      color: #f4ca66;
                      margin-left: 9px;
                    }
                  }
                }
                .subcomment-wrapper {
                  font-size: 19px;
                  .subcomment-header {
                    margin-bottom: 22px;
                    div {
                      color: #999;
                      display: inline-block;
                      .arrow {
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-top: 9px solid #b2b1b1;
                        margin-left: 7px;
                        .upper {
                          border-bottom: 9px solid #b2b1b1;
                        }
                      }
                      &.devider {
                        margin: 0px 11px;
                        font-size: 14px;
                      }
                    }
                  }
                  .subcomment-body {
                    .write-subcomment {
                      margin-bottom: 11px;
                      textarea {
                        width: 708px;
                        height: 59px;
                        padding: 8px 10px;
                        resize: none;
                        border: 1px solid #b2b1b1;
                      }
                      .submit-subcomment {
                        margin-left: 29px;
                        display: inline-block;
                        vertical-align: bottom;
                        background: #f4ca66;
                        color: #fff;
                        padding: 6px 16px;
                        font-size: 11px;
                        line-height: 11px;
                      }
                    }
                    .show-subcomment {
                      .subcomments {
                        padding: 0px 51px;
                        margin-top: 11px;
                        .sub-header {
                          margin-bottom: 10px;
                          div {
                            display: inline-block;
                            margin-right: 17px;
                            &.nickname {
                              font-size: 19px;
                            }
                            &.created-at, &.btn-delete {
                              color: #999;
                              font-size: 13px;
                            }
                          }
                        }
                        .sub-body {
                          margin-bottom: 20px;
                          div {
                            display: inline-block;
                            &.content {
                              font-size: 19px;
                              color: #4d4d4d;
                            }
                          }
                        }
                      }

                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
