<div class="nav-bar">
  <div class="logo">LOGO</div>
  <input type="text" class="search" value="search"/>
  <div class="add">ADD</div>
  <div class="map">MAP</div>
  <div class="menu">MENU</div>
</div>
