<div class="side-bar-background"></div>

<div class="side-bar">
  <div class="header">
    <div class="cancel-wrapper">
      <%= image_tag 'buttons/close.png', class: "cancel" %>
    </div>
  </div>
  <div class="body">
    <% if !user_signed_in? %>
    <div class="sign-in side-btn border-top">로그인/가입</div>
    <% else %>
    <div class="user-info">
      <div class="nickname side-btn"><%= current_user.nickname %></div>
      <div class="settings side-btn">
        <%= image_tag 'navbar/button-setting.png', class: "cancel" %>
        <div>설정</div>
      </div>
      <div class="sign-out side-btn">
        <%= image_tag 'navbar/button-logout.png', class: "cancel" %>
        <div>로그아웃</div>
      </div>
    </div>
    <% end %>
    <div class="my-map side-btn">나의 관심지도</div>
    <div class="scrap side-btn border-bottom margin-bottom">스크랩</div>
    <div class="followings side-btn border-top border-bottom margin-bottom">내가 구독한 유저</div>
    <div class="followers side-btn border-top border-bottom margin-bottom">나를 구독한 유저</div>
    <div class="cs side-btn border-top border-bottom">
      <div>고객센터</div>
      <div class="arrow"></div>
    </div>
    <div class="cs-detail border-bottom">
      <div class="side-btn ds noti">공지사항</div>
      <div class="side-btn ds qna">1:1 문의</div>
      <div class="side-btn ds terms">사이트 이용규칙</div>
      <div class="side-btn ds policy">개인정보 취급방침</div>
    </div>
  </div>
</div>
