<div class="side-bar-background"></div>

<div class="side-bar">
  <div class="cancel">close</div>
  <div class="user-info">로그인/가입</div>
  <div class="my-map">나의 관심지도</div>
  <div class="scrap">스크랩</div>
  <div class="followings">내가 구독한 유저</div>
  <div class="followers">나를 구독한 유저</div>
  <div class="cs">고객센터</div>
</div>
