<div class="sub-navbar">
  <div class="hot">HOT</div>
  <div class="new">NEW</div>
  <div class="best">BEST</div>
  <div class="all">모두보기</div>
  <div class="house">원룸리뷰</div>
  <div class="life">생활피드</div>
</div>
